@import url("https://fonts.googleapis.com/css2?family=Reggae+One&display=swap");

:root {
    --primary: #F2C94C;
}

body {
    margin: 0px;
    font-family: "Reggae One", cursive;
}

header {
    text-align: center;
    background-color: var(--primary);
    padding: 1rem;
    margin: 0%;
}

header div {
    font-size: 2rem;
}

.container {
    box-sizing: border-box;

    text-align: center;
    max-width: 600px;
    font-size: large;
    padding: 1rem;
    margin: auto;

    background-color: white;
}



#txt-area {
    box-sizing: border-box;
    width: 100%;
    max-width: 600px;
    height: 20vh;
    display: block;
    font-family: inherit;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#btn-primary {
    box-sizing: border-box;
    display: block;
    padding: 1rem 2rem;
    border: none;
    background-color: var(--primary);
    font-family: inherit;
    font-size: 1rem;
}

#txt-output {
    box-sizing: border-box;
    background-color: white;
    border: 1px solid black;
    padding: 1.5rem;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;

    width: 100%;
    max-width: 600px;
    height: 10vh;
    overflow: scroll;
}

footer {

    bottom: 0;
    width: 100%;
    padding: 1rem;
    background-color: var(--primary);
    text-align: center;
}

footer p {
    max-width: 600px;
    margin: auto;
    line-height: 2;
}